<div class="gree mx-2 my-4">
  <div class="card">
    <img src="./assets/t1.jpg" class="card-img-top container" alt="...">
    <div class="card-body">
      <h5 class="card-title">Chicken Burger & cock</h5>
      <p class="card-text tet">Dill pickle, cheddar cheese, tomato, red onion, ground chuck </p><button class="green my-2 btn btn-outline-info"routerLink="/order">Ordernow</button>
     <p class="my-4 mi">RS 145/-</p>
    </div>
  </div>
  <div class="card">
    <img src="./assets/t2.jpg" class="card-img-top container" alt="...">
    <div class="card-body">
      <h5 class="card-title">MixDijon Burger & cock</h5>
      <p class="card-text tet">Dill pickles, bread, minced chicken, dijon mustard greens</p><button class="green my-2 btn btn-outline-info"routerLink="/order">Ordernow</button>
      <p class="my-4 mi">RS 128/-</p>
    </div>
  </div>
  </div>
  <div class="gree mx-2 my-4">
    <div class="card">
      <img src="./assets/t3.jpg" class="card-img-top container" alt="...">
      <div class="card-body">
        <h5 class="card-title">NonVeg Burger </h5>
        <p class="card-text tet">Onion soup mix ground turkey bread crumbs, hamburger buns</p><button class="green my-2 btn btn-outline-info"routerLink="/order">Ordernow</button>
        <p class="my-4 mi">RS 215/-</p>
      </div>
    </div>
    <div class="card">
      <img src="./assets/t6.jpg" class="card-img-top container" alt="...">
      <div class="card-body">
        <h5 class="card-title">Special Burger </h5>
        <p class="card-text tet">Gluten free, ground beef, olive oil, sea salt, garlic powder crumbs</p><button class="green my-2 btn btn-outline-info"routerLink="/order">Ordernow</button>
        <p class="my-4 mi">RS 214/-</p>
      </div>
    </div>
    </div>
    <div class="gree mx-2 my-4">
      <div class="card">
        <img src="./assets/t11.jpg" class="card-img-top container" alt="...">
        <div class="card-body">
          <h5 class="card-title">Combination Burger</h5>
          <p class="card-text tet">Mincemeat, blue, cheddar cheese slice, lettuce, tomatoesthe </p><button class="green my-2 btn btn-outline-info"routerLink="/order">Ordernow</button>
          <p class="my-4 mi">RS 159/-</p>
        </div>
      </div>
      <div class="card">
        <img src="./assets/tt1.jpg" class="card-img-top container" alt="...">
        <div class="card-body">
          <h5 class="card-title">Combination Burger</h5>
          <p class="card-text tet">Mincemeat, blue, cheddar cheese slice, lettuce, tomatoesthe </p><button class="green my-2 btn btn-outline-info"routerLink="/order">Ordernow</button>
          <p class="my-4 mi">RS 179/-</p>
      </div>