<div class="gree mx-2 my-4">
  <div class="card">
    <img src="./assets/g1.jpg" class="card-img-top container" alt="...">
    <div class="card-body">
      <h5 class="card-title">Chicken Burger Mcdonalds</h5>
      <p class="card-text gig">Dill pickle, cheddar cheese, tomato, red onion, ground chuck </p><button class="green my-2 btn btn-outline-info"(click)="clicked()">Ordernow</button>
     <p class="my-4 ma">RS 99/-</p>
    </div>
  </div>
  <div class="card">
    <img src="./assets/g2.jpg" class="card-img-top container" alt="...">
    <div class="card-body">
      <h5 class="card-title">Chicken Burger Patty Mixi</h5>
      <p class="card-text gig">Dill pickles bread minced chicken dijon mustard, greens</p><button class="green my-2 btn btn-outline-info"(click)="clicked()">Ordernow</button>
      <p class="my-4 ma">RS 88/-</p>
    </div>
  </div>
  </div>
  <div class="gree mx-2 my-4">
    <div class="card">
      <img src="./assets/g3.jpg" class="card-img-top container" alt="...">
      <div class="card-body">
        <h5 class="card-title">NonVeg Burger</h5>
        <p class="card-text gig">Onion soup mix, ground turkey bread crumbs, hamburger</p><button class="green my-2 btn btn-outline-info"(click)="clicked()">Ordernow</button>
        <p class="my-4 ma">RS 95/-</p>
      </div>
    </div>
    <div class="card">
      <img src="./assets/min4.jpg" class="card-img-top container" alt="...">
      <div class="card-body">
        <h5 class="card-title">Special Burger</h5>
        <p class="card-text gig">Gluten free, ground beef, olive oil, sea salt, garlic powder</p><button class="green my-2 btn btn-outline-info"(click)="clicked()">Ordernow</button>
        <p class="my-4 ma">RS 114/-</p>
      </div>
    </div>
    </div>
    <div class="gree mx-2 my-4">
      <div class="card">
        <img src="./assets/g5.jpg" class="card-img-top container" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mix Burger</h5>
          <p class="card-text gig">Mincemeat, blue, cheddar cheese slice, lettuce, tomatoesthe </p><button class="green my-2 btn btn-outline-info"(click)="clicked()">Ordernow</button>
          <p class="my-4 ma">RS 59/-</p>
        </div>
      </div>
      <div class="gree mx-2 my-4">
        <div class="card">
          <img src="./assets/mid5.jpg" class="card-img-top container" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pure Veg Burger</h5>
            <p class="card-text gig">Mincemeat, blue, cheddar cheese slice, lettuce, tomatoesthe </p><button class="green my-2 btn btn-outline-info"(click)="clicked()">Ordernow</button>
            <p class="my-4 ma">RS 59/-</p>
          </div>
        </div>
      </div>
