.mi{
  width: 17vw;
}
.green{
  float: right;
}
.min{
  font-size: 1rem;
  color: blue;
}
 .card{
   width: 45.3vw;
   height: 55vh;
  box-shadow: 5px 5px rgb(212, 203, 203);
 }
 .gree{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .card-img-top{
  width: 15vw;
  height: 15vw;
}

@media screen and (max-width:770px) and (min-width:280px){
  .card-img-top{
    width: 40vw;
    height: 25vw;
  }
.ma{
  font-size: 12px;
  color: black;
}
h5{
  font-size: 16px;
  color: black;
}
.min{
  font-size: 0.7rem;
}
.mi{
  width: 40vw;
}
}
@media screen and (max-width:480px) and (min-width:360px){
  .card{
    width: 45.3vw;
    height: 48vh;
   box-shadow: 5px 5px rgb(212, 203, 203);
  }
}
.btn{
  font-size: 0.7rem;
}