<div class="gree mx-2 my-4">
<div class="card">
  <img src="./assets/mid1.jpg" class="card-img-top container" alt="...">
  <div class="card-body">
    <h5 class="card-title">Chicken Burger Mcdonalds</h5>
    <p class="card-text ma">Dill pickle, cheddar cheese, tomato, red onion, ground chuck </p><button class="green my-2 btn btn-outline-info"routerLink="/order">Ordernow</button>
   <p class="my-4 min">RS 129/-</p>
  </div>
</div>
<div class="card">
  <img src="./assets/min6.jpg" class="card-img-tops container mi" alt="...">
  <div class="card-body">
    <h5 class="card-title">Chickens Burger Special</h5>
    <p class="card-text ma">Dill pickles, bread, minced chicken, dijon mustard chuck</p><button class="green my-2 btn btn-outline-info"routerLink="/order">Ordernow</button>
    <p class="my-4 min">RS 100/-</p>
  </div>
</div>
</div>
<div class="gree mx-2 my-4">
  <div class="card">
    <img src="./assets/mid2.jpg" class="card-img-top container" alt="...">
    <div class="card-body">
      <h5 class="card-title">NonVeg Burger </h5>
      <p class="card-text ma">Onion soup mix, ground turkey bread crumbs, hamburger buns</p><button class="green my-2 btn btn-outline-info"routerLink="/order">Ordernow</button>
      <p class="my-4 min">RS 115/-</p>
    </div>
  </div>
  <div class="card">
    <img src="./assets/mid3.jpg" class="card-img-top container" alt="...">
    <div class="card-body">
      <h5 class="card-title">Special Burger </h5>
      <p class="card-text ma">Gluten free, ground beef, olive oil, sea salt, garlic powder bread crumbs</p><button class="green my-2 btn btn-outline-info"routerLink="/order">Ordernow</button>
      <p class="my-4 min">RS 114/-</p>
    </div>
  </div>
  </div>
  <div class="gree mx-2 my-4">
    <div class="card">
      <img src="./assets/mid5.jpg" class="card-img-top container" alt="...">
      <div class="card-body">
        <h5 class="card-title"> veggie burger</h5>
        <p class="card-text ma">Mincemeat, blue, cheddar cheese slice, lettuce, tomatoesthe bread crumbs </p><button class="green my-2 btn btn-outline-info"routerLink="/order">Ordernow</button>
        <p class="my-4 min">RS 59/-</p>
      </div>
    </div>
    <div class="card">
      <img src="./assets/min6.jpg" class="card-img-tops container mi" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tikki Burger</h5>
        <p class="card-text ma">Black beans, brown rice, mushrooms, tomato paste smoked paprika</p><button class="green my-2 btn btn-outline-info"routerLink="/order">Ordernow</button>
        <p class="my-4 min">RS 119/-</p>
      </div>
    </div>
    </div>